/* ~ HERO ~ */

.hero{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__izq{
        background-image: url("https://news.virginia.edu/sites/default/files/article_image/fall_2020_planning_cmte_da_header.jpg");
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        &::after {
            content: ' ';
            background: $uvaBlue;
            opacity: 0.6;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    } /* ~ /HERO__IZQ ~ */

    &__figure {
        display: flex;
        width: 400px;
        position: relative;
        z-index: 9999;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        padding: 0px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px -24px 4px -12px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, -1px -24px 4px -12px rgba(0,0,0,0);
        border: 0.5rem solid $uvaOrange; 
    }
    
    &__name {
        display: block;
        font-size: 2.3rem;
        margin-top: 0.9rem;
        text-align: center;
        font-weight: 700;
        background: rgba(255, 255, 255, 0.6);
        padding: 0.5rem;
        border-left: 5px solid $uvaOrange;
        color: $uvaBlue;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px -24px 4px -12px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, -1px -24px 4px -12px rgba(0,0,0,0);
    }

    &__subtitle{
        font-size: 1.5rem;
        margin-top: 0.9rem;
        text-align: center;
        font-weight: 700;
    }

    &__caption{
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 1rem;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }
}

.hero__der{
    background-color: $uvaOrange;
}


