/* MOBILE STYLES   */

@media screen and (max-width: 992px) {
    .hero {
        grid-template-columns: 1fr;
    }
    .hero__izq {
        top: 0px;
        width: 100%;
        z-index: 100;
        border-right: none !important;
        background-size: cover;
        background-position-x: 70%;
    }

    .hero__figure {
        width: 90%;
    }

    .hero__img {
        width: 160px;
        height: 160px;
        border: 0.4rem solid $uvaOrange;
    }

    .hero__name {
        font-size: 2rem;
    }

    .hero__subtitle {
        font-size: 1.3rem;
    }

    .quote {
        padding: 1rem;
        margin-bottom: 1.5rem;
        font-size: 0.8rem;
    }

    .hero__der {
        background-color: #ffffff;
        position: relative;
        top: 100vh;
        height: 100%;
        width: 100%;
        padding: 1.5rem 1rem;
        z-index: 101;
        overflow: scroll;
    }

    .hero__der--mobile {
        top: 0vh;
      }
      

    .hero__der--title {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1024px) {
    .hero__izq {
        top: 0px;
        z-index: 100;
        border-right: none !important;
        background-size: cover;
    }

    .hero__name{
        font-size: 3rem;
    }

    .quote{
        margin-bottom: 2rem;
        position: relative;
    }

    footer{
        top: 2rem !important;
    }
}

@media screen and (min-width: 993px) {
    
    footer, .toggle__btn {
        display: none;
    }
    
}
