.social__container {
    z-index: 105;
    cursor: pointer;
    background: $uvaOrange;
    padding: .3rem;
    border-radius: 5px;
    margin: .5rem 0rem;
}

.social__icon {
    font-size: 1rem;
    color: white;
    margin: 0rem .3rem;
}


.social__icon--hover{
    display: inline-block;
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 9px;
    text-align: center;
  }

  .social__icon--hover:hover .tooltip-text {
    visibility: visible;
}

  .tooltip-bottom{
    top: 25px;
  }

  .btn-down {
    font-weight: 900;
    color: $uvaOrange;
    font-size: 3rem;
    z-index: 9999;
    position: relative;
    top: -10px;
  }


  .btn__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    z-index: 888;
  }
