/* TIPOGRAFIAS */

p, span, blockquote{
    font-family: 'Lato', 'Helvetica', sans-serif;
    margin: 0.5rem 0rem;
    font-size: 1rem;
}

ul, a{
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 1rem;
}

strong{
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Squada One','Helvetica', sans-serif;
}
